body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background-color: #f4f4f4; 
}

ul { 
    list-style-type: none; 
    padding: 0; 
}

li { 
    background: #fff; 
    font-size: 10px;
    margin: 2px; 
    padding: 5px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

h2 { 
    color: #333; 
}